<div class="background">
  <!-- Animated Circles -->
  <div class="circle circle-1"></div>
  <div class="circle circle-2"></div>
  <div class="circle circle-3"></div>
  <div class="circle circle-4"></div>
  <div class="circle circle-5"></div>
  <div class="circle circle-6"></div>
  <div class="circle circle-7"></div>
  <div class="circle circle-8"></div>
  <div class="container">
    <div class="left-side">
      <div class="centered-headings">
        <h1>Welcome to CarexusFlow</h1>
        <h3>Login to your Account</h3>
        <h2>User Login</h2>
      </div>
      
      <form class="login-form" (ngSubmit)="onLogin($event)">
        <label for="email">Email</label>
        <input 
          type="email" 
          id="email" 
          [(ngModel)]="loginData.email" 
          name="email" 
          placeholder="Enter your email" 
          required 
        />
      
        <label for="password">Password</label>
        <input 
          type="password" 
          id="password" 
          [(ngModel)]="loginData.password" 
          name="password" 
          placeholder="Enter your password" 
          required 
        />
      
        <div class="button-container">
          <button type="submit">Login</button>
        </div>
        <div class="button-container">
          <button type="button" (click)="onAdminLogin()">Admin Login</button>
        </div>
      </form>
      
      <h3 class="SignUp">Don't have an Account? <a class="signup-link" routerLink="/register">Sign Up</a></h3>
    </div>
    <div class="right-side">
      <img src="assets/nurse and patient.jpg" alt="Nurse and Patient" />
      <img class="Logo" src="assets/Logo.png" alt="Logo" />
      <p>Taking care of your Health today gives you hope for tomorrow.</p>
    </div>
  </div>
</div>
