<div class="dashboard-wrapper">
  <app-adminsidenav></app-adminsidenav>
  <div class="main-content">
    <div class="patient-header-container">
      <div class="header">
        <div class="logo">
          <i class="fas fa-user-injured"></i> Patients
        </div>
        <div class="search-container">
          <input type="text" class="search-bar" placeholder="Search">
          <i class="fas fa-search search-icon"></i>
        </div>
      </div>
    </div>
    
    <div class="patients-list-container">
      <h2>Patients List</h2>
      <table class="patients-table">
        <thead>
          <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Gender</th>
            <th>Age</th>
            <th>Blood Type</th>
            <th>Symptoms</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>John Doe</td>
            <td>M</td>
            <td>20</td>
            <td>AB</td>
            <td><a [routerLink]="['/symptoms']"><button class="view-btn">View</button></a></td>
            <td>
              <button class="accept-btn">Accept</button>
              <button class="decline-btn">Decline</button>
            </td>
          </tr>
          <tr>
            <td>2</td>
            <td>John Doe</td>
            <td>M</td>
            <td>19</td>
            <td>O</td>
            <td><a [routerLink]="['/symptoms']"><button class="view-btn">View</button></a></td>
            <td>
              <button class="accept-btn">Accept</button>
              <button class="decline-btn">Decline</button>
            </td>
          </tr>
          <tr>
            <td>3</td>
            <td>John Doe</td>
            <td>M</td>
            <td>20</td>
            <td>AB</td>
            <td><a [routerLink]="['/symptoms']"><button class="view-btn">View</button></a></td>
            <td>
              <button class="accept-btn">Accept</button>
              <button class="decline-btn">Decline</button>
            </td>
          </tr>
          <tr>
            <td>4</td>
            <td>John Doe</td>
            <td>M</td>
            <td>20</td>
            <td>AB</td>
            <td><a [routerLink]="['/symptoms']"><button class="view-btn">View</button></a></td>
            <td>
              <button class="accept-btn">Accept</button>
              <button class="decline-btn">Decline</button>
            </td>
          </tr>
          <tr>
            <td>5</td>
            <td>John Doe</td>
            <td>M</td>
            <td>20</td>
            <td>AB</td>
            <td><a [routerLink]="['/symptoms']"><button class="view-btn">View</button></a></td>
            <td>
              <button class="accept-btn">Accept</button>
              <button class="decline-btn">Decline</button>
            </td>
          </tr>
          <!-- More rows as needed -->
        </tbody>
      </table>
    </div>
  </div>
</div>
  