<div class="userbilling-container">
  <app-sidenav></app-sidenav>
  <div class="main-content">
      <div class="userbilling-header-container">
          <div class="header">
              <div class="logo">
                  <i class="fas fa-user"></i> User Profile
              </div>
          </div>
      </div>

      <div class="user-container" *ngIf="user && user.firstname">
        <h2>Personal Information</h2>
        <div class="user-info">
          <div class="info-row">
            <div>
              <strong>Name</strong>
              <p>{{ user.firstname }} {{ user.lastname }}</p>
            </div>
            <div>
              <strong>Gender</strong>
              <p>{{ user.gender }}</p>
            </div>
            <div>
              <strong>Date of Birth</strong>
              <p>{{ user.date_of_birth }}</p>
            </div>
          </div>
          <hr>
          <div class="info-row">
            <div>
              <strong>Email Address</strong>
              <p>{{ user.email }}</p>
            </div>
            <div>
              <strong>Home Address</strong>
              <p>{{ user.home_address }}</p>
            </div>
            <div>
              <strong>Contact Number</strong>
              <p>{{ user.contact_number }}</p>
            </div>
          </div>
        </div>
      </div>

      <div *ngIf="errorMessage" class="error-message">
        <p>{{ errorMessage }}</p>
      </div>
  </div>
</div>
