<div class="dashboard-wrapper">
  <app-adminsidenav></app-adminsidenav>
  <div class="main-content">
    <div class="patient-header-container">
      <div class="header">
        <div class="logo">
          <i class="fas fa-calendar-alt"></i> Schedule
        </div>
        <div class="search-container">
          <input type="text" class="search-bar" placeholder="Search">
          <i class="fas fa-search search-icon"></i>
        </div>
      </div>
    </div>
    
    <div class="patients-list-container">
      <h2>Upcoming Appointments</h2>
      <table class="patients-table">
        <thead>
          <tr>
            <th>Name</th>
            <th>Date</th>
            <th>Time</th>
            <th>Purpose of Appointment</th>
            <th>Status</th>
            <th>Symptoms</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>John Doe</td>
            <td>2024-12-05</td>
            <td>10:00 AM</td>
            <td>Routine Check-up</td>
            <td>
              <select class="status-dropdown">
                <option value="pending">Pending</option>
                <option value="completed">Completed</option>
              </select>
            </td>
            
            <td>
              <a [routerLink]="['/symptoms']"><button class="view-btn">View</button></a>
            </td>
          </tr>
          <tr>
            <td>Jane Smith</td>
            <td>2024-12-06</td>
            <td>11:30 AM</td>
            <td>Consultation</td>
            <td>
              <select class="status-dropdown">
                <option value="pending">Pending</option>
                <option value="completed">Completed</option>
              </select>
            </td>
            
            <td>
              <a [routerLink]="['/symptoms']"><button class="view-btn">View</button></a>
            </td>
          </tr>
          <tr>
            <td>Sam Brown</td>
            <td>2024-12-07</td>
            <td>2:00 PM</td>
            <td>Emergency</td>
            <td>
              <select class="status-dropdown">
                <option value="pending">Pending</option>
                <option value="completed">Completed</option>
              </select>
            </td>
            
            <td>
              <a [routerLink]="['/symptoms']"><button class="view-btn">View</button></a>
            </td>
          </tr>
          <!-- Add more rows as needed -->
        </tbody>
      </table>
    </div>
  </div>
</div>
