/* General styling for the containers */
.userchat-header-container {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px 20px;
}

.userchat-records-list-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 40px 20px;
}

.logo {
    font-size: 30px;
    font-weight: bold;
    display: flex;
    align-items: center;
    margin-left: 20px;
}

.logo i {
    margin-right: 30px;
    font-size: 30px;
}

.search-container {
    position: relative;
    width: 300px;
}

.search-bar {
    padding: 8px 30px 8px 30px;
    font-size: 16px;
    width: 100%;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.search-icon {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #888;
    font-size: 18px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h2 {
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: bold;
}
